body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-image:
    radial-gradient(
      ellipse at center,
      rgba(0, 38, 255, 0.1) 0%,
      transparent 70%
    ),
    url("bg.svg");
  background-repeat: no-repeat, repeat;
  background-position:
    center,
    0 0;
  position: relative;
  overflow-x: hidden;
}
